@import 'bootstrap/dist/css/bootstrap.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

* {
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal
}

p {
    font-size: 0.7em
}

h3,
h6 {
    font-weight: bolder
}

body {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 100px
}

main {
    flex: 1
}

.navbar {
    background-color: #6b0008;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000
}

.navbar-brand img {
    margin-right: 20px;
    max-width: 135px;
    width: 100%
}

#link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.3rem;
    font-weight: 600;
}

#link:hover {
    font-size: 1.31rem;
    color: #e7b928;
    text-decoration: underline
}

#social {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #fff
}

#social:hover {
    font-size: 1.42rem;
    color: #e7b928;
}

.text-justify {
    text-align: justify;
    font-weight: 400;
}

.carousel {
    margin-top: 35px;
}

.card {
    background: #6b0008;
    border-radius: 17px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, .4);
}

.card-body {
    background-color: #f8f9fa;
    border-radius: 0 0 16px 16px;
}

.card-img-top {
    border-radius: 13px 13px 0 0;
    background-color: #6b0008;
}

.logo {
    border-radius: 100px;
    background: none;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, .25);
}

.navbar-toggler {
    border: none;
}

.hero {
    position: relative;
    text-align: center;
    color: #fff;
    margin-top: 20px
}

.hero-image {
    position: relative
}

.hero-image img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .18);
    padding: 20px;
    border-radius: 10px;
    width: 70%
}



.about-us {
    max-width: 100%;
    overflow: hidden
}

.customer-reviews .review {
    min-height: 400px;
    max-height: 500px;
    overflow-y: auto
}

.customer-reviews {
    max-width: 100%;
    overflow: hidden
}

.about-us,
.customer-reviews {
    background-color: #f8f9fa;
}

.about-us h2,

.customer-reviews h2,

.menu-section h2,
.opening-hours-contact h2 {
    color: #6b0008;
    margin-bottom: 20px
}

.about-us p,

.customer-reviews .review,
.footer a {
    color: #333
}

.about-us p,
.customer-reviews .review {
    font-size: 1.1rem;
    line-height: 1.6
}

#titolocard {
    color: #6b0008
}

#btnmenu {
    background-color: #6b0008;
    color: #f5f5f5;
    border: none
}

#btnmenu:hover {
    background-color: #a00000;
    text-decoration: underline
}

#menu-card {
    background-color: #f5f5f5;
    border: 5px solid #6b0008;
    border-radius: 14px;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.4), 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.customer-reviews .review {
    background-color: #fff;
    padding: 20px;
    border: 2px solid #6b0008;
    border-radius: 3px;
    text-align: left;
    margin-bottom: 20px
}

.customer-reviews .review i {
    color: #6b0008;
    margin-bottom: 10px
}

.customer-reviews .review h3 {
    color: #333;
    font-size: 1.2rem;
    margin-top: 10px
}

.customer-reviews .rating {
    color: #e7b928;
    font-size: 1.2rem
}

.customer-reviews .date,

.customer-reviews .reviewer,
.customer-reviews .source {
    font-size: .9rem;
    margin-top: 10px
}

.customer-reviews .source a {
    color: #6b0008;
    text-decoration: none
}

.customer-reviews .source a:hover {
    text-decoration: underline
}

#info {
    color: #e7b928
}

.menu-divider {
    width: 40%;
    border: 1px solid #6b0008;
    margin: auto;
}

#btn404 {
    background-color: #6b0008;
    border: none;
    text-decoration: none
}

#btn404:hover {
    background-color: #a00000;
    text-decoration: underline
}

footer {
    background-color: #6b0008;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer .list-unstyled li a,
footer .text-center {
    color: #fff
}

footer h2 {
    font-weight: bold;
}

footer h6 {
    font-weight: 400
}

#foot_link {
    color: #fff;
    text-decoration-line: none
}

#foot_link:hover {
    font-size: 1.07rem;
    color: #e7b928;
    text-decoration: underline
}

#link1 {
    color: #fff;
    text-decoration-line: none;
    text-transform: uppercase;
}

#link1:hover {
    color: #e7b928;
    font-size: 1.03rem;
    text-decoration: underline
}

#linkdev {
    color: #fff;
    text-decoration: underline
}

#linkdev:hover {
    color: #e7b928;
    font-size: 1.28rem;
    text-decoration: underline
}

#back-to-top {
    width: 35px;
    height: 35px;
    position: fixed;
    bottom: 15px;
    right: 18px;
    border: #fff 1px solid;
    display: none;
    background-color: #6b0008;
    color: #fff;
    padding-top: 5px;
    padding-left: 9px;
    border-radius: 100%;
    cursor: pointer;
    z-index: 1000
}

#back-to-top:hover {
    background-color: #fff;
    color: #6b0008;
    border: #6b0008 1px solid
}

.floating-btn {
    position: fixed;
    bottom: 60px;
    right: 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: #fff 1px solid;
    background-color: #6b0008;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: background-color .3s, transform .3s;
}

.floating-btn:hover {
    border: #6b0008 1px solid;
    background-color: #fff;
    color: #6b0008;
}

.floating-btn.rotate {
    transform: rotate(360deg);
}

.social-btn {
    position: fixed;
    bottom: 100px;
    right: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6b0008;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: transform .3s, opacity .3s;
    opacity: 0;
    pointer-events: none
}

.social-btn:hover {
    background-color: #fff;
    color: #6b0008
}

.social-btn.facebook {
    bottom: 140px
}

.social-btn.instagram {
    bottom: 200px
}

.social-btn.whatsapp {
    bottom: 260px
}

.social-btn.google {
    bottom: 320px
}

.show .social-btn {
    opacity: 1;
    pointer-events: auto
}

/*MEDIA QUERY*/
@media (min-width:2559px) {
    .carousel-container{
        width: 50%;
    }
    .text-justify{
        font-size: 2rem;
    }
}
@media (min-width:1440px) {
       
    .hero-image img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
     }
    .carousel-container {
        width: 75%;
        margin: auto;
    }

    .carousel-item img {
        object-fit: cover;
    }
   
}

@media (min-width:1025px)and (max-width:1439px) {
    
    .hero-image img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
     }
    .carousel-container {
        width: 70%;
        margin: auto;
    }

    .carousel-item img {
        object-fit: cover;
    }
    .text-justify {
             font-size: 1.1rem;
             
    }
}

@media (min-width:767px)and (max-width:1024px) {
    .carousel-container {
            width: 75%;
            margin: auto;
        }
    .hero-text {
        top: 52%;
    }

    .hero-text h2 {
        font-size: 1.6rem;
    }

    #link {
        font-size: 1.1rem;
    }

    #link:hover {
        font-size: 1.12rem;
    }
}

@media(max-width:766px) {
    .hero-image img {
            height: 40vh
        }
    .hero-text h2 {
        font-size: 1rem
    }

    .hero-text {
        width: 70%;
    }

    .text-justify {
        font-size: 1rem;
        text-align: justify;
    }

    #reviewsCarousel {
        width: 100%;
    }

    #link {
        font-size: 1rem;
    }

    #link:hover {
        font-size: 1.05rem;
    }
}
    
@media (max-width:576px) {
    .hero-image img {
        height: 65vh
    }

    .hero-text {
        width: 90%;
        padding: 10px
    }

}